:root, [data-bs-theme=light] {
  --bs-primary: #f8f6e5ff;
  --bs-primary-rgb: 244,254,252;
  --bs-primary-text-emphasis: #626665;
  --bs-primary-bg-subtle: #FDFFFE;
  --bs-primary-border-subtle: #FBFFFE;
  --bs-secondary: #f0d9d1;
  --bs-secondary-rgb: 240,217,209;
  --bs-secondary-text-emphasis: #605754;
  --bs-secondary-bg-subtle: #FCF7F6;
  --bs-secondary-border-subtle: #F9F0ED;
  --bs-success: #fc9685;
  --bs-success-rgb: 252,150,133;
  --bs-success-text-emphasis: #653C35;
  --bs-success-bg-subtle: #FEEAE7;
  --bs-success-border-subtle: #FED5CE;
  --bs-info: #Dac0a7;
  --bs-info-rgb: 218,192,167;
  --bs-info-text-emphasis: #574D43;
  --bs-info-bg-subtle: #F8F2ED;
  --bs-info-border-subtle: #F0E6DC;
  --bs-warning: #caaa93;
  --bs-warning-rgb: 202,170,147;
  --bs-warning-text-emphasis: #51443B;
  --bs-warning-bg-subtle: #F4EEE9;
  --bs-warning-border-subtle: #EADDD4;
  --bs-danger: #fffdf5;
  --bs-danger-rgb: 255,253,245;
  --bs-danger-text-emphasis: #666562;
  --bs-danger-bg-subtle: #FFFFFD;
  --bs-danger-border-subtle: #FFFEFB;
  --bs-body-color: #212929;
  --bs-body-color-rgb: 33,41,41;
  --bs-secondary-color: rgba(33,41,41,0.75);
  --bs-secondary-color-rgb: 33,41,41,0.75;
  --bs-tertiary-color: rgba(33,41,41,0.5);
  --bs-tertiary-color-rgb: 33,41,41,0.5;
  --bs-link-color: #000000;
  --bs-link-color-rgb: 0,0,0;
  --bs-link-hover-color: #ca0aab;
  --bs-link-hover-color-rgb: 202,10,171;
  --bs-link-decoration: none;
  --bs-link-hover-decoration: underline;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f4fefc;
  --bs-btn-border-color: #f4fefc;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F6FEFC;
  --bs-btn-hover-border-color: #F5FEFC;
  --bs-btn-focus-shadow-rgb: 37,38,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F6FEFD;
  --bs-btn-active-border-color: #F5FEFC;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f4fefc;
  --bs-btn-disabled-border-color: #f4fefc;
}

.btn-outline-primary {
  --bs-btn-color: #f4fefc;
  --bs-btn-border-color: #f4fefc;
  --bs-btn-focus-shadow-rgb: 244,254,252;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f4fefc;
  --bs-btn-hover-border-color: #f4fefc;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f4fefc;
  --bs-btn-active-border-color: #f4fefc;
  --bs-btn-disabled-color: #f4fefc;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f4fefc;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f0d9d1;
  --bs-btn-border-color: #f0d9d1;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F2DFD8;
  --bs-btn-hover-border-color: #F2DDD6;
  --bs-btn-focus-shadow-rgb: 36,33,31;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F3E1DA;
  --bs-btn-active-border-color: #F2DDD6;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f0d9d1;
  --bs-btn-disabled-border-color: #f0d9d1;
}

.btn-outline-secondary {
  --bs-btn-color: #f0d9d1;
  --bs-btn-border-color: #f0d9d1;
  --bs-btn-focus-shadow-rgb: 240,217,209;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f0d9d1;
  --bs-btn-hover-border-color: #f0d9d1;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f0d9d1;
  --bs-btn-active-border-color: #f0d9d1;
  --bs-btn-disabled-color: #f0d9d1;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f0d9d1;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #fc9685;
  --bs-btn-border-color: #fc9685;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FCA697;
  --bs-btn-hover-border-color: #FCA191;
  --bs-btn-focus-shadow-rgb: 38,23,20;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FDAB9D;
  --bs-btn-active-border-color: #FCA191;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #fc9685;
  --bs-btn-disabled-border-color: #fc9685;
}

.btn-outline-success {
  --bs-btn-color: #fc9685;
  --bs-btn-border-color: #fc9685;
  --bs-btn-focus-shadow-rgb: 252,150,133;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #fc9685;
  --bs-btn-hover-border-color: #fc9685;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #fc9685;
  --bs-btn-active-border-color: #fc9685;
  --bs-btn-disabled-color: #fc9685;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fc9685;
}

.btn-info {
  --bs-btn-color: #000000;
  --bs-btn-bg: #Dac0a7;
  --bs-btn-border-color: #Dac0a7;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #E0C9B4;
  --bs-btn-hover-border-color: #DEC6B0;
  --bs-btn-focus-shadow-rgb: 33,29,25;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #E1CDB9;
  --bs-btn-active-border-color: #DEC6B0;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #Dac0a7;
  --bs-btn-disabled-border-color: #Dac0a7;
}

.btn-outline-info {
  --bs-btn-color: #Dac0a7;
  --bs-btn-border-color: #Dac0a7;
  --bs-btn-focus-shadow-rgb: 218,192,167;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #Dac0a7;
  --bs-btn-hover-border-color: #Dac0a7;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #Dac0a7;
  --bs-btn-active-border-color: #Dac0a7;
  --bs-btn-disabled-color: #Dac0a7;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #Dac0a7;
}

.btn-warning {
  --bs-btn-color: #000000;
  --bs-btn-bg: #caaa93;
  --bs-btn-border-color: #caaa93;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D2B7A3;
  --bs-btn-hover-border-color: #CFB39E;
  --bs-btn-focus-shadow-rgb: 30,26,22;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #D5BBA9;
  --bs-btn-active-border-color: #CFB39E;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #caaa93;
  --bs-btn-disabled-border-color: #caaa93;
}

.btn-outline-warning {
  --bs-btn-color: #caaa93;
  --bs-btn-border-color: #caaa93;
  --bs-btn-focus-shadow-rgb: 202,170,147;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #caaa93;
  --bs-btn-hover-border-color: #caaa93;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #caaa93;
  --bs-btn-active-border-color: #caaa93;
  --bs-btn-disabled-color: #caaa93;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #caaa93;
}

.btn-danger {
  --bs-btn-color: #000000;
  --bs-btn-bg: #fffdf5;
  --bs-btn-border-color: #fffdf5;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFFDF7;
  --bs-btn-hover-border-color: #FFFDF6;
  --bs-btn-focus-shadow-rgb: 38,38,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFFDF7;
  --bs-btn-active-border-color: #FFFDF6;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #fffdf5;
  --bs-btn-disabled-border-color: #fffdf5;
}

.btn-outline-danger {
  --bs-btn-color: #fffdf5;
  --bs-btn-border-color: #fffdf5;
  --bs-btn-focus-shadow-rgb: 255,253,245;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #fffdf5;
  --bs-btn-hover-border-color: #fffdf5;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #fffdf5;
  --bs-btn-active-border-color: #fffdf5;
  --bs-btn-disabled-color: #fffdf5;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fffdf5;
}

a {
  text-decoration: var(--bs-link-decoration);
}

a:hover {
  text-decoration: var(--bs-link-hover-decoration);
}

.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}

.my-4 {
  margin-top: 1.5rem!important;
  margin-bottom: 1.5rem!important;
}

.my-5 {
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mt-2 {
  margin-top: .5rem!important;
}

.mt-3 {
  margin-top: 1rem!important;
}

.mt-4 {
  margin-top: 1.5rem!important;
}

.mt-5 {
  margin-top: 3rem!important;
}

.mt-6 {
  margin-top: 4.5rem !important;
}

.me-0 {
  margin-right: 0!important;
}

.me-3 {
  margin-right: 1rem!important;
}

.me-4 {
  margin-right: 1.5rem!important;
}

.me-5 {
  margin-right: 3rem!important;
}

.me-6 {
  margin-right: 4.5rem !important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-2 {
  margin-bottom: .5rem!important;
}

.mb-3 {
  margin-bottom: 1rem!important;
}

.mb-4 {
  margin-bottom: 1.5rem!important;
}

.mb-5 {
  margin-bottom: 3rem!important;
}

.ms-0 {
  margin-left: 0!important;
}

.ms-2 {
  margin-left: .5rem!important;
}

.ms-3 {
  margin-left: 1rem!important;
}

.ms-4 {
  margin-left: 1.5rem!important;
}

.ms-5 {
  margin-left: 3rem!important;
}

.ms-7 {
  margin-left: 6rem !important;
}

.ms-10 {
  margin-left: 10.5rem !important;
}

.px-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}

.py-4 {
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}

.pt-0 {
  padding-top: 0!important;
}

.pt-5 {
  padding-top: 3rem!important;
}

.pe-0 {
  padding-right: 0!important;
}

.pe-4 {
  padding-right: 1.5rem!important;
}

.pb-0 {
  padding-bottom: 0!important;
}

.pb-4 {
  padding-bottom: 1.5rem!important;
}

.pb-5 {
  padding-bottom: 3rem!important;
}

.pb-6 {
  padding-bottom: 4.5rem !important;
}

.ps-0 {
  padding-left: 0!important;
}

.ps-3 {
  padding-left: 1rem!important;
}

.ps-4 {
  padding-left: 1.5rem!important;
}

.ps-6 {
  padding-left: 4.5rem !important;
}

.ps-7 {
  padding-left: 6rem !important;
}

@media (min-width:768px) {
  .mt-md-5 {
    margin-top: 3rem!important;
  }
}

@media (min-width:768px) {
  .me-md-0 {
    margin-right: 0!important;
  }
}

@media (min-width:768px) {
  .me-md-1 {
    margin-right: .25rem!important;
  }
}

@media (min-width:768px) {
  .me-md-3 {
    margin-right: 1rem!important;
  }
}

@media (min-width:768px) {
  .ms-md-0 {
    margin-left: 0!important;
  }
}

@media (min-width:768px) {
  .ms-md-2 {
    margin-left: .5rem!important;
  }
}

@media (min-width:768px) {
  .ms-md-3 {
    margin-left: 1rem!important;
  }
}

@media (min-width:768px) {
  .ms-md-5 {
    margin-left: 3rem!important;
  }
}

@media (min-width: 768px) {
  .ms-md-10 {
    margin-left: 10.5rem !important;
  }
}

@media (min-width:768px) {
  .pe-md-0 {
    padding-right: 0!important;
  }
}

@media (min-width: 768px) {
  .pe-md-7 {
    padding-right: 6rem !important;
  }
}

@media (min-width: 768px) {
  .ps-md-7 {
    padding-left: 6rem !important;
  }
}

@media (min-width:1200px) {
  .py-xl-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
}

