<c-header>
</c-header>
{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alexandria&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amethysta&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bad+Script&amp;display=swap">
    <link rel="stylesheet" href="{% static 'app/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/bss-overrides.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/Hero-Travel-.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/Navbar-Centered-Links-icons.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/text-box.css' %}">
</head>

<body style="background: #fffedf;">
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Nosso Catálogo</h2>
                <p>Adicione produtos ao seu pedido.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            {% for produto in produtos %}
            <div class="col">
                <div class="card">
                    {% if produto.imagem %}
                        <img class="card-img-top w-100 d-block fit-cover" src="{{ produto.imagem.url }}">
                    {% else %}
                        <div class="card-img-top w-100 d-block fit-cover d-flex align-items-center justify-content-center bg-light" style="height: 200px;">
                            <i class="fas fa-leaf text-muted" style="font-size: 3rem;"></i>
                        </div>
                    {% endif %}
                    <div class="card-body p-4">
                        <h4 class="card-title">{{ produto.nome }}</h4>
                        <h5>R$ {{ produto.valor }}</h5>
                        <form action="{% url 'adicionar_ao_pedido' produto.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">Adicionar ao Pedido</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
         <div class="text-center mt-4">
            <a href="{% url 'ver_pedido' %}" class="btn btn-success btn-lg">Ver Pedido</a>
        </div>
    </div>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
</body>
</html>